<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Post</title>
</head>
<body>

  <form action = "/add_submission" method="POST">
         <table>
              <tr><td></td><td>New Title: <input type ="text" name ="book_title" ></td></tr>
             <tr><td></td><td>New Post Author: <input type ="text" name ="author_name" ></td></tr>
             <tr><td></td><td>Content: <input type ="text" name ="content" ></td>
             <tr><td></td><td>Date: <input  type ="text" name ="date" ></td></tr>
             <tr><td></td><td><input type ="submit" name ="add" value ="Add"></td></tr>

        </table>
    </form>

</body>
</html>